<label {{action "toggle"}}>{{device.name}}</label>
{{#if initialized}}
  <span class="switch">
    {{one-way-checkbox isChecked classNames="switch"}}
    <label {{action "toggle"}}></label>
  </span>
{{else}}
  <div>
    {{fa-icon "spinner" spin=true}}
  </div>

{{/if}}


