<div class="remotes-actions">

  <h6>Actions of {{remoteId}}</h6>

  <div class="devices">
    {{#each model as |device|}}
      <div class="device">
        {{device.name}} ({{device.type}})
        <div class="actions">
          {{#each device.actions as |deviceAction|}}
            <button class="btn btn-primary" {{action 'invoke' remoteId device.name deviceAction}}>{{deviceAction}}</button>
          {{/each}}
        </div>
        {{state}}
      </div>
    {{/each}}
  </div>

</div>